.header {
  display: grid;
  padding: $padding-header;
  margin-bottom: 50px;
  grid-template-rows: 60px;
  grid-template-columns: 60px 757px;
  justify-content: space-between;

  font-size: 12px;
  font-weight: $font-medium;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
