@mixin gridBlock {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 50px 48px;
  justify-content: space-between;
  
  background-color: #fff;
}

.block {
  @include gridBlock;
  padding: 0 40px;
  margin: 0 auto;
  max-width: 1024px;
  box-sizing: border-box;

  &__item {
    box-sizing: border-box;
    max-width: 200px;
    
    background: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
  }
}

.product {
  display: grid;
  padding: 30px 19px 45px;
}

.product__photo {
  height: 134px;
  width: 160px;

  transition: transform 1s ease-in-out;

  &:hover {
    border: 3px solid #f3f3f3;

    transform: scale(1.2);
  }
}

.product__item {
  padding: 0 14px 15px;
}

.product__name {
  margin-bottom: 6px;

  line-height: 15px;
  font-weight: $font-medium;
  font-size: 12px;
}

.product__code {
  margin-bottom: 15px;

  line-height: 1.18em;
  font-size: 11px;
}

.product__info {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  justify-items: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product__rating {
  display: grid;
  grid-template: 1fr / repeat(5,15px);
  grid-gap: 4px;
  height: 15px;
}

.rating__stars {
  width: 15px;
  margin-right: 4px;

  background: url(..\images\star.svg)no-repeat 50%;
}

.rating__stars:nth-child(-n+4) {
  background: url(..\images\star-active.svg) no-repeat 50%;
}

.product__report {
  line-height: 1.18em;
  font-size: 11px;
}

.product__pricing {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: baseline;
  margin-bottom: 20px;
}

.product__text {
  line-height: 1.18em;
  font-size: 11px;
  font-weight: $font-small;
}

.product__price {
  font-weight: $font-bold;
  font-size: 16px;
}

.product__link {
  display: block;
  padding: 11px 10px;
  
  font-size: 14px;
  line-height: 16px;
  
  background-color: #00acdc;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  
  border: 1px solid transparent;

  transition: all 600ms linear;
  
  &:hover {
    box-sizing: border-box;

    color: #00acdc;

    background: #fff;
    border: 1px solid #00acdc;
    border-radius: 5px;
  }
}
